* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.4;
  font-family: sans-serif;
}

.sale {
  background-color: #ec2f2f;
  color: #fff;
  position: absolute;
  display: inline-block;
  font-size: 12px;
  padding: 7px 15px;
  font-weight: bold;
  letter-spacing: 2px;
  top: -17px;
  left: -34px;
}

.product {
  position: relative;
  width: 825px;
  margin: 50px auto;
  border: 4px solid black;
}

.product-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  background-color: #f7f7f7;
  padding: 15px;
}

.price {
  font-size: 24px;
}

.shipping {
  color: #777;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.details-title {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.details-list {
  list-style: square;
  margin-bottom: 10px;
  margin-left: 10px;
}

.details-list li {
  margin: 10px;
}

.add-cart {
  border: none;
  border-top: 4px solid black;
  background-color: black;
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  padding: 15px;
}

.add-cart:hover {
  color: #000000;
  background-color: #ffffff;
}

.product-colors {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.color {
  background-color: #000;
  height: 22px;
  width: 22px;
}

.color-blue {
  background-color: #4a9ffa;
}

.color-red {
  background-color: #eb3e3e;
}

.color-yellow {
  background-color: #ddbc3a;
}

.color-green {
  background-color: #41d041;
}

.color-brown {
  background-color: #a52a2a;
}

.color:last-child {
  gap: 0;
}

.row {
  display: flex;
  gap: 40px;
}

.price-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description {
  margin-top: 20px;
  flex: 1;
}

.details {
  margin-top: 20px;
  flex: 1;
}

.about {
  margin: 13px 0;
}
